<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Záznam</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    </head>
    <body>
        <div class="overlay">
            <div class="loader">
            </div><!--loader-->
        </div><!--overlay-->
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <form class="navbar-form navbar-left" onsubmit="return processSearch(event)" th:action="@{/rdf/node}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control"  required="true" id="node-id" name="node-id" placeholder="URL uzlu k editaci"/>
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp; Otevři</button>
                    </form>                  

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp; Možnosti<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/rdf/export/sparql}"><span class="glyphicon glyphicon-download"></span>&nbsp; Exportovat SPARQL dotaz</a></li>
                                <li><a th:href="@{/rdf/export/rdf}"><span class="glyphicon glyphicon-download"></span>&nbsp; Exportovat RDF soubor</a></li>
                                <li><a th:href="@{/}"><span class="glyphicon glyphicon-upload"></span>&nbsp; Nahrát soubory</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="col-sm-12">
                <table class="table">        
                    <caption>Prefixy</caption>
                    <tr th:each="entry : ${prefixes}">
                        <td th:text="${entry.key}"></td>
                        <td th:text="${entry.value}"></td>
                    </tr>
                </table>
            </div>
            <form id="form-query" th:action="@{/rdf/node/save}" onsubmit="return processSave(event)" method="post" enctype="multipart/form-data">
                <input type="hidden" th:value="${node.node}" name="node-id"/>
                <fieldset th:each="entry : ${node.inputParams}">
                    <div th:if="${entry.value.get(node.MULTIPLE_CARDINALITY)} == ${node.YES}" th:id='par+${entry.key}'>
                        <div class="col-sm-11" >
                            <legend><span th:text="${entry.value.get(node.LABEL)}"  data-toggle="tooltip" th:title="${model.qnameFor(entry.key.toString()) == null} ? ${entry.key} : ${model.qnameFor(entry.key.toString())}"></span></legend>
                        </div>
                        <div class="col-sm-1" >
                            <button class="btn btn-xs btn-success" type="button" th:onclick="'addInput(\'' + ${entry.key} + '\',\'' + ${entry.value.get(node.INPUT_TYPE)} + '\', \'' + ${entry.value.get(node.LABEL)} + '\', \'' + ${node.guideValues.get(entry.key)} + '\');'"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                        <div th:each="item,i : ${node.properties.get(entry.key)}" th:with="id = ${entry.key + '-' + i.index}" th:id="'div'+${id}" >
                            <div  class="col-sm-11">
                                <input th:list="${'list' + id}" th:type="${entry.value.get(node.INPUT_TYPE)}" class="form-control" th:value="${model.qnameFor(item.toString()) == null} ? ${node.getValueNoSuffix(entry.key, i.index)} : ${model.qnameFor(item.toString())}" th:id="${id}" th:name="${id}" th:placeholder="${entry.value.get(node.LABEL)}"/>
                                <datalist th:id="${'list' + id}">
                                    <option th:each="value : ${node.guideValues.get(entry.key)}" th:value="${value}"/>
                                </datalist>
                            </div>
                            <div class="col-sm-1" >
                                <button class="btn btn-xs btn-danger" th:id="${'btn' + id}" type="button" th:onclick="'removeInput(\'' + ${id} + '\');'"><span class="glyphicon glyphicon-minus"></span></button>
                            </div> 
                        </div>
                    </div>
                    <div th:if="${entry.value.get(node.MULTIPLE_CARDINALITY)} == ${node.NO}" th:with="id=${entry.key + '-0'}">
                        <div  class="col-sm-11">
                            <legend><span th:text="${entry.value.get(node.LABEL)}"  data-toggle="tooltip" th:title="${model.qnameFor(entry.key.toString()) == null} ? ${entry.key} : ${model.qnameFor(entry.key.toString())}"></span></legend>
                            <input th:list="'list' + ${id}" th:type="${entry.value.get(node.INPUT_TYPE)}" class="form-control" 
                                   th:value="${(node.properties.get(entry.key) == null) || (node.properties.get(entry.key).size() == 0)} ? ''
                                   : (${model.qnameFor(node.properties.get(entry.key).get(0).toString()) == null} ? ${node.getValueNoSuffix(entry.key, 0)}
                                   : ${model.qnameFor(node.properties.get(entry.key).get(0).toString())})" th:id="${id}" th:name="${id}" th:placeholder="${entry.value.get(node.LABEL)}"/>
                            <datalist th:id="'list' + ${id}">
                                <option th:each="value : ${node.guideValues.get(entry.key)}" th:value="${value}"/>
                            </datalist>
                        </div>
                        <div class="col-sm-1" >

                        </div> 
                    </div>
                </fieldset>
                <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"> Uložit</span></button>   
                </div>
            </form>
        </div>
        <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/node.js}"></script>
        <script th:src="@{/js/navbar.js}"></script>
    </body>
</html>