<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Záznam</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>
    <table class="table">        
        <caption>Prefixes</caption>
            <tr th:each="entry : ${prefixes}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
    </table>
<form id="form-query" th:action="@{/rdf/node}" method="post" enctype="multipart/form-data">
    <div th:each="entry : ${node.inputParams}" class="form-group">
        <div th:if="${entry.value.get(node.MULTIPLE_CARDINALITY)} == ${node.YES}">
            <fieldset>
                <legend class="col-sm-11" th:text="${entry.value.get(node.LABEL)}"  data-toggle="tooltip" th:title="${model.qnameFor(entry.key.toString()) == null} ? ${entry.key} : ${model.qnameFor(entry.key)}"></legend> <button><span class="glyphicon glyphicon-plus"></span></button>
                <div th:each="item,index : ${node.properties.get(entry.key)}">
                <input th:list="'list' + ${entry.key} + '-' + index" th:type="${entry.value.get(node.INPUT_TYPE)}" class="form-control" th:value="${model.qnameFor(item.toString()) == null} ? ${item} : ${model.qnameFor(item.toString())}" th:id="${entry.key} + '-' + ${index}" th:placeholder="${entry.value.get(node.LABEL)}"/>
                <datalist th:id="'list' + ${entry.key} + '-' + index">
                    <option th:each="value : ${node.guideValues.get(entry.key)}" th:value="${value}"/>
                </datalist>
                <button><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </fieldset>
        </div>
        <div th:if="${entry.value.get(node.MULTIPLE_CARDINALITY)} == ${node.NO}">
            <label th:for="${entry.key}" th:text="${entry.value.get(node.LABEL)}" data-toggle="tooltip" th:title="${model.qnameFor(entry.key.toString()) == null} ? ${entry.key} : ${model.qnameFor(entry.key)}"></label>
            <div th:with="literal = ${node.YES} == ${entry.value.get(node.LITERAL)}">
                <input th:list="'list' + ${entry.key}" th:type="${entry.value.get(node.INPUT_TYPE)}" class="form-control" 
                       th:value="${(node.properties.get(entry.key) == null) || (node.properties.get(entry.key).size() == 0)} ? '' : (${model.qnameFor(node.properties.get(entry.key).get(0).toString()) == null} ? ${node.properties.get(entry.key).get(0)} : ${model.qnameFor(node.properties.get(entry.key).get(0))})" th:id="${entry.key}" th:placeholder="${entry.value.get(node.LABEL)}"/>
                <datalist th:id="'list' + ${entry.key}">
                    <option th:each="value : ${node.guideValues.get(entry.key)}" th:value="${value}"/>
                </datalist>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
</body>
</html>