<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RDF Editor - uploaded</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>

    <h1>Enter node id to edit.</h1>
    <form id="form-query" th:action="@{/rdf/node}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="node-id">Subject</label>
            <input type="text" class="form-control" required="true" id="node-id" name="node-id" placeholder="Nodeid to be edited"/>
        </div>
        <button class="btn btn-success btn-index" type="submit" ><span class="glyphicon glyphicon-search"> Search</span></button>
    </form>

    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>