<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>RDF Editor - uploaded</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    </head>
    <body>
        <div class="overlay">
            <div class="loader">
            </div><!--loader-->
        </div><!--overlay-->
        <div class="container">
       <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <form class="navbar-form navbar-left" onsubmit="return processSearch(event)" th:action="@{/rdf/node}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control"  required="true" id="node-id" name="node-id" placeholder="URL uzlu k editaci"/>
                        </div>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp; Otevři</button>
                    </form>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp; Možnosti<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/rdf/export/sparql}"><span class="glyphicon glyphicon-download"></span>&nbsp; Exportovat SPARQL dotaz</a></li>
                                <li><a th:href="@{/rdf/export/rdf}"><span class="glyphicon glyphicon-download"></span>&nbsp; Exportovat RDF soubor</a></li>
                                <li><a th:href="@{/}"><span class="glyphicon glyphicon-upload"></span>&nbsp; Nahrát soubory</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>

        <h1>Soubory nahrány!</h1>

        <h2>Nyní můžete upravovat vlastnosti uzlů.</h2>

        <h3>Pro otevření stránky s vlatnostmi zadejte jeho URL do vyhledávače v horní liště.</h3>
        </div>
        <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/navbar.js}"></script>
    </body>
</html>